<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Bookmark Manager</h1>
    <div class="">
      Your Bookmarks:
        <ul>
          <% @bookmarks.each do |bookmark| %>

            <li class="bookmark" id="bookmark-<%= bookmark.id %>">

              <a href="<%= bookmark.url %>" target="_blank" > <%= bookmark.title %> </a>

              <form action="/bookmarks/<%= bookmark.id %>" method="post">
                <input type='hidden' name='_method' value='DELETE'/>
                <input type="submit" value="Delete" />
              </form>

              <form action="/bookmarks/<%= bookmark.id %>/edit" method="get">
                <input type="submit" value="Update" />
              </form>
            </li>
          <% end %>
        </ul>
    </div>
    <div class="">
      <form class="" action="/bookmarks" method="post">
        <label for="">
          Add title:
          <input type="text" name="title">
          Add bookmark url:
          <input type="text" name="url">
        </label>
          <input type="submit" value="Add">
      </form>
    </div>
  </body>
</html>
